body {
    background-color: #383d58;
}
header {
    background-color: #424E61;
    color: white;
}
.cabecalho-imagem{
    width: 10%;
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424E61, #d32525);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700.josefin-sans-<uniquifier {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}